@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: rgb(205, 110, 88); */
}

header {
  margin: 0;
  padding: 0;
  /* background-color: rgb(205, 110, 88); */
}

h1 {
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: rgb(205, 110, 88);
}

main {
  background-color: rgb(236, 221, 221);
}

h2 {
  text-align: center;
  color: rgb(98, 97, 97);
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  /* margin-top: 10px; */
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  padding-left: 280px;
  padding-right: 20px;
  margin: 0;
}

.menu li {
  /* margin: 5px; */
  margin: 0;
  /* padding: 5px; */
}

.menu a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #b68a75;
}

.galeria {
  display: flex;
  width: auto;
  /* height: 430px; */
}

.galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

figure {
  padding: 20px;
}

table {
  padding-left: 180px;
  /* padding-right: 150px; */
}

.image-container {
  position: relative; /* Necesario para posicionar la imagen dentro del contenedor */
  overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
  width: 200px; /* Ancho inicial del contenedor */
  /* height: 300px; Altura inicial del contenedor */
  transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
}

.image-container img {
  width: 100%; /* La imagen ocupa el 100% del contenedor */
  height: 100%; /* La imagen ocupa el 100% del contenedor */
  transition: transform 0.3s; /* Agregar una transición suave al hacer hover */
}

.image-container:hover img {
  transform: scale(1.2); /* Agrandar la imagen al hacer hover */
}

/* .first-photos {
  padding-left: 200px;
} */

footer {
  color: white;
  background-color: rgb(162, 185, 101);
  opacity: 100%;
  height: 250px;
  padding: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.elementos-footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  color: rgb(98, 97, 97);
}

.navegacion {
  list-style: none;
}

.navegacion a {
  text-decoration: none;
  color: rgb(98, 97, 97);
}

/* .contactanos p {
  line-height: 0.5;
}

.redes-sociales p {
  line-height: 0.5;
} */

.info-footer {
  text-align: center;
}
