main {
    background-color: #d8843e;
    
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: #d8843e; */
    


}


#acceso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 999;
    background-color: #d8843e;
    margin-top: 160px;

}


#popup a {
    font-size: 10px;
    color: white;
}

#contraseña {
    font-size: 20px;
}

#enviar {
    font-size: 15px;
    background-color: rgb(162, 185, 101);
    padding: 5px;
    border-radius: 5px;
}
#enviar:hover{
    background-color:  rgb(115, 130, 85);
    color:whitesmoke; 
}

.botones button {
    width: 40%;
    margin: 10px;
    height: 80px;
    background-color: rgb(162, 185, 101);
    border-radius: 5px;
}
.botones button:hover{   
    background-color:  rgb(115, 130, 85);
    color:whitesmoke;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}