*{
    background-color: #d8843e;
}

#formulario label{
font-size: 15px;
display: block;
font-family: Arial, Helvetica, sans-serif;

}
#formulario input{
width: 300px;
height: 30px;
background-color: white;
}

#formulario textarea {
    width: 300px;
    background-color: whitesmoke;
}

#formulario{     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button{
    width: 150px;
    height: 30px;
    background-color:  rgb(162, 185, 101);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;    
}
button:hover{
    background-color:  rgb(115, 130, 85);
    color:whitesmoke;
}
form a{
    color:white;
}
