@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*--------------------------- TEMPLATE AREAS --------------------------*/

.temp-header {
  grid-area: header;
}
.temp-nav {
  grid-area: nav;
}
.temp-main {
  grid-area: main;
}
.temp-footer {
  grid-area: footer;
}

/*------------------------- GENERAL CONTAINER ------------------*/

.general-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

.d-header {
  display: flex;
  justify-content: center;
  background-color: #d8843e;
}

.logo {
  width: 200px;
  border-radius: 50%;
}

nav {
  background-color: #d8843e;
  text-align: center;
}

.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  list-style-type: none;
  background-color: #d8843e;
}

nav ul li a {
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
}

nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

h2 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding-top: 3px;

  margin: 0;
}

.contact-info {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 236, 221, 0.61);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-top: 15px;
  margin-left:25px;
  margin-right: 30px;
  max-width: 400px;
  height: 30px;
  margin: 15px auto ;

}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.container {
  flex: 2;
  padding: 20px;
  background-color: rgba(224, 236, 221, 0.61);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: none;
}

.container3 {
  flex: 1;
  padding: 20px;
  background-color: rgba(224, 236, 221, 0.61);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-top: 70px;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.contact-container .container3 i {
  display: inline-block;
  width: 15px;
  text-align: left;
  margin-right: 10px;
}

.mapa {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 2px solid #a2b965;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-control.error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.btn-submit {
  background-color: #5c995a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100px;
}

.btn-submit:hover {
  background-color: #3f7d3a;
}

.btn-submit.animate__flip {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;
}

.temp-main {
  background-image: url("https://images.unsplash.com/photo-1616252576862-bd9abd7467f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0);
}

/*-------------------------------- FOOTER -------------------------------*/

footer {
  color: white;
  background-color: rgb(216, 132, 62);
  opacity: 100%;
  height: 250px;
}

.navegacion {
  list-style-type: none;
}

.navegacion a {
  text-decoration: none;
  color: white;
}

h4 {
  margin-bottom: 15px;
}

.elementos-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  color: white;
}

.elementos-footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.info-footer {
  text-align: center;
}

.redes {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .contact-container-grid {
    grid-template-columns: 1fr;
  }

  .container,
  .container3 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1025px) {
  .contact-container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    margin-right: 10px;
  }

  .container3 {
    margin-left: 30px;
    max-height: 380px;
  }
}

.contact-container .container3 p {
  display: flex;
  align-items: center;
}

.contact-container .container3 p {
  display: flex;
  align-items: center;
  margin-top: -20px; 
}

label[for="mensaje"] i {
  font-size: 12px;
}

