@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*--------------------------- TEMPLATE AREAS --------------------------*/

.temp-header {
  grid-area: header;
}
.temp-nav {
  grid-area: nav;
}
.temp-main {
  grid-area: main;
}
.temp-footer {
  grid-area: footer;
}

/*------------------------- GENERAL CONTAINER ------------------*/

.general-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

header {
  background-color: #d8843e;
}

.d-header {
  display: flex;
  justify-content: center;
  background-color: #d8843e;
}

.logo {
  width: 130px;
  border-radius: 50%;
}

/*------------------------- NAV -----------------------------*/

nav {
  background-color: antiquewhite;
  text-align: center;
}

.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  list-style-type: none;
  border-style: solid;
  border-top: rgb(98, 97, 97);
  border-top-width: 20px;
  border-bottom: rgb(98, 97, 97);
  border-bottom-width: 20px;
}

nav ul li a {
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color:rgb(98, 97, 97);
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
}

nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

h2 {
  text-align: center;
  /* color: rgb(98, 97, 97); */
  color: black;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.container {
  flex: 2;
  padding: 20px;
  background-color: rgba(224, 236, 221, 0.61);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: none;
}

.container3 {
  flex: 1;
  padding: 20px;
  background-color: rgba(224, 236, 221, 0.61);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin-top: 70px;
  max-width: none;
}

.contact-container .container3 i {
  display: inline-block;
  width: 15px;
  text-align: left;
}

.mapa {
  display: flex;
  width: auto;
  height: 250px;
  margin-top: 10px;
  border-radius: 5px;
}

.mapa iframe {
  width: calc(100% + 20px);
  max-width: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 2px solid #a2b965;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-control.error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.btn-submit {
  background-color: #5c995a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100px;
}

.btn-submit:hover {
  background-color: #3f7d3a;
}

.btn-submit.animate__flip {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;
}

.temp-main {
  background-image: url("https://images.unsplash.com/photo-1616252576862-bd9abd7467f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0);
}

/* .temp-main {
  background-color: rgb(162, 185, 101);
} */

.contact-info i {
  margin-right: 10px;
  font-size: 20px;
}

.contact-info h2 {
  color: #000;
  padding: 10px;
}

.contact-info h2 span {
  background-color: rgba(244, 247, 244, 0.404);
  padding: 5px 10px;
  margin: 0 -10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.contact-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 20px 0 20px;
}

/* .contact-container-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
} */

@media screen and (max-width: 1024px) {
  .contact-container-grid {
    grid-template-columns: 1fr;
  }

  .container,
  .container3 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1025px) {
  .contact-container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    margin-right: 10px;
  }

  .container3 {
    margin-left: 30px;
    max-height: 380px;
  }
}

/*-------------------------------- FOOTER -------------------------------*/

footer {
  color: white;
  background-color: rgb(216, 132, 62);
  opacity: 100%;
  height: 250px;
  /* padding: 15px; */
}

.navegacion {
  list-style-type: none;
}

.navegacion a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

h4 {
  margin-bottom: 15px;
}

.elementos-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  color: white;
}

.elementos-footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.info-footer {
  text-align: center;
}

.redes {
  display: flex;
  /* margin-top: 5px; */
}

@media screen and (max-width: 1024px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
  }

  .menu li:nth-child(1),
  .menu li:nth-child(4) {
    margin-left: 20px;
  }

  .menu li:nth-child(3),
  .menu li:nth-child(6) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 0;
  }
}
