/*-------------------------------- MAIN -------------------------------*/
main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 30px 20px 20px;
  width: 250px;
  box-sizing: border-box;
  transition: transform 0.2s;
  animation: fadeIn 1s;
}

.product:hover {
  transform: scale(1.02);
}

.product-image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.product-image img:hover {
  transform: scale(1.1);
}

.product-details h2 {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.product-details {
  text-align: center;
  font-style: bold;
}

.btn-more {
  display: inline-block;
  background-color: white;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.btn-more:hover {
  background-color: green;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*-------------------------------- MEDIA -------------------------------*/

@media screen and (max-width: 1024px) {
  .contact-container-grid {
    grid-template-columns: 1fr;
  }

  .container,
  .container3 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1025px) {
  .contact-container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    margin-right: 30px;
  }

  .container3 {
    margin-left: 30px;
    max-height: 380px;
  }
}


/* @media screen and (max-width: 1024px) {
    .menu {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      grid-template-columns: repeat(3, 1fr);
      justify-content: start;
    }
  
    .menu li:nth-child(1),
    .menu li:nth-child(4) {
      margin-left: 20px;
    }
  
    .menu li:nth-child(3),
    .menu li:nth-child(6) {
      margin-right: 20px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .menu {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      grid-row-gap: 0;
    }
  }   */