@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/*--------------------------- TEMPLATE AREAS --------------------------*/

.temp-header {
  grid-area: header;
}
.temp-nav {
  grid-area: nav;
}

.temp-footer {
  grid-area: footer;
}

/*------------------------- GENERAL CONTAINER ------------------*/

.general-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*------------------------- HEADER -----------------------------*/

header {
  background-color: #d8843e;
}

.d-header {
  display: flex;
  justify-content: center;
  background-color: #d8843e;

}

.logo {
  width: 130px;
  border-radius: 50%;
}

/*------------------------- NAV -----------------------------*/

nav {
  background-color: antiquewhite;
  text-align: center;
}

.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  list-style-type: none;
  border-style: solid;
  border-top: rgb(98, 97, 97);
  border-top-width: 20px;
  border-bottom: rgb(98, 97, 97);
  border-bottom-width: 20px;
}

nav ul li a {
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color:rgb(98, 97, 97);
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
}

nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
/*------------------------- ARTÍCULOS -----------------------------*/

.articulo1 {
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.articulo11 {
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-bottom: 30px;
}
.articulo2 { 
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.articulo22 {
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-top: 30px;
}
.articulo3 {
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.articulo33 {
  background-color: rgb(162, 185, 101);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color:antiquewhite;
  text-align: center;
  text-align: justify;
  padding-bottom: 30px;
  }

  .jere, .fer , .guada {
    display: flex;
    width: 300px;
    border:rgb(98, 97, 97);
    border-radius: 30%;
    border-style: ridge;
    height: auto;
    position: relative;
    text-align: center;
  }
/*------------------------- FOOTER -----------------------------*/

footer {
  color: white;
  background-color: #d8843e;
  opacity: 100%;
  height: 250px;
  padding: 20px;
}

h4 {
  margin-bottom: 15px;
}

.elementos-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  color: white;
}

.navegacion {
  list-style: none;
}

.navegacion a {
  text-decoration: none;
  color: white;
}

.info-footer {
  text-align: center;
}

.contact {
  display: flex;
  margin-top: 5px;
}

.redes {
  display: flex;
  margin-top: 5px;
}

/* -------------------------- MEDIA QUERIES ------------------------------------*/

@media (min-width: 340px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 12px;
  }

  .d-first-article p {
    padding-right: 15px;
    padding-left: 15px;
  }

  nav ul li a {
    padding: 2px;
    font-size: 10px;
  }

  h2 {
    font-size: 14px;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }
}

@media (min-width: 414px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 12px;
  }

  .d-first-article p {
    padding-right: 15px;
    padding-left: 15px;
  }

  nav ul li a {
    padding: 2px;
    font-size: 10px;
  }

  h2 {
    font-size: 14px;
  }

  .image-container {
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }
}

@media (min-width: 485px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .d-first-article p {
    padding-right: 15px;
    padding-left: 15px;
  }

  body {
    font-size: 12px;
  }

  nav ul li a {
    padding: 5px;
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 180px; /* Ancho inicial del contenedor */
    height: 180px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }
}

@media (min-width: 543px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 14px;
  }

  nav ul li a {
    padding: 5px;
  }

  article h2 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 200px; /* Ancho inicial del contenedor */
    height: 200px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }
}

@media (min-width: 612px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 14px;
  }

  nav ul li a {
    font-size: 14px;
    padding: 10px;
  }

  article h2 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 250px; /* Ancho inicial del contenedor */
    height: 250px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }
}

@media (min-width: 720px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 250px; /* Ancho inicial del contenedor */
    height: 250px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }
}

@media (min-width: 744px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 250px; /* Ancho inicial del contenedor */
    height: 250px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 885px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 300px; /* Ancho inicial del contenedor */
    height: 300px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 965px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 300px; /* Ancho inicial del contenedor */
    height: 300px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 180px; /* Ancho inicial del contenedor */
    height: 180px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 180px;
    height: 180px;
    transition: width 0.3s, height 0.3s;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1035px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  .d-first-article p {
    padding-right: 25px;
    padding-left: 25px;
  }

  .image-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    transition: width 0.3s, height 0.3s;
  }
}

@media screen and (min-width: 1250px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  .d-first-article p {
    padding-right: 25px;
    padding-left: 25px;
  }

  body {
    font-size: 16px;
  }

  nav ul li a {
    padding: 15px;
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }
}
