/*------------------------- MAIN -----------------------------*/

main {
  background-color: rgb(162, 185, 101);
  justify-content: center;
  overflow: hidden;
}

main p {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.galeria {
  display: flex;
  width: auto;
}

.galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

figure {
  padding: 20px;
}

section div table {
  background-color: rgb(98, 97, 97);
}

.images-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tr-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.2);
}

.p-destacados {
  text-align: center;
  font-size: 25px;
}

.art-dos .article-h2 {
  padding-bottom: 0px;
}

.sec-articles {
  margin-top: 50px;
  padding-top: 40px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  text-align: justify;
}

.art-uno h2,
.art-dos h2,
.art-tres h2,
.art-cuatro h2,
.art-cinco h2,
.art-seis h2 {
  font-size: 16px;
  color: rgb(98, 97, 97);
  text-align: justify;
  padding: 15px;
}

.titulo-clientes {
  text-align: left;
  margin: 10px;
}

.clientes #app ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}

.clientes #app ul li {
  list-style: none;
  margin-top: 15px;
}

.p-title {
  color: black;
  font-weight: bold;
}

.clientes #app ul li p {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  margin: 5px;
}

/* -------------------------- MEDIA QUERIES ------------------------------------*/

@media (min-width: 340px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 12px;
  }

  nav ul li a {
    padding: 2px;
    font-size: 10px;
  }

  h2 {
    font-size: 14px;
  }

  .galeria {
    display: none;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    text-align: justify;
  }
}

@media (min-width: 414px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 12px;
  }

  nav ul li a {
    padding: 2px;
    font-size: 10px;
  }

  h2 {
    font-size: 14px;
  }

  .image-container {
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    text-align: justify;
  }
}

@media (min-width: 485px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 12px;
  }

  nav ul li a {
    padding: 5px;
  }

  .image-container {
    overflow: hidden; /* Ocultar parte de la imagen que esté fuera del contenedor */
    width: 180px; /* Ancho inicial del contenedor */
    height: 180px;
    transition: width 0.3s, height 0.3s; /* Agregar una transición suave */
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    text-align: justify;
  }
}

@media (min-width: 543px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 14px;
  }

  nav ul li a {
    padding: 5px;
  }

  h4 {
    font-size: 16px;
  }

  .image-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    text-align: justify;
  }
}

@media (min-width: 630px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  body {
    font-size: 14px;
  }

  nav ul li a {
    font-size: 12px;
    padding: 4px;
  }

  h4 {
    font-size: 16px;
  }

  .galeria {
    display: flex;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    text-align: justify;
  }
}

@media (min-width: 720px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  nav ul li a {
    font-size: 14px;
    padding: 5px;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    text-align: justify;
  }
}

@media (min-width: 744px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 885px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  nav ul li a {
    font-size: 16px;
    padding: 10px;
  }

  .image-container {
    overflow: hidden;
    width: 300px;
    height: 300px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    text-align: justify;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 965px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 300px;
    height: 300px;
    transition: width 0.3s, height 0.3s;
  }

  .sec-articles {
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    text-align: justify;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 180px;
    height: 180px;
    transition: width 0.3s, height 0.3s;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 180px;
    height: 180px;
    transition: width 0.3s, height 0.3s;
  }

  section div table {
    background-color: rgb(98, 97, 97);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1035px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  .image-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    transition: width 0.3s, height 0.3s;
  }
}

@media screen and (min-width: 1250px) {
  .general-container {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  body {
    font-size: 16px;
  }

  nav ul li a {
    padding: 15px;
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
  }

  .image-container {
    overflow: hidden;
    width: 250px;
    height: 250px;
    transition: width 0.3s, height 0.3s;
  }
}

/* Estilos CSS MLM*/

.p-frecuentes {
  background-color: rgb(162, 185, 101);
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  width: auto;
  position: relative;
}

.p-frase {
  background-color: rgb(162, 185, 101);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: italic;
  color: white;
  text-align: center;
  width: auto;
  position: relative;
}

.sec-preguntas {
  margin-top: 50px;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  opacity: 90%;
}

.galeria_preguntas {
  display: flex;
  width: auto;
}

.galeria_preguntas img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

body {
  font-family: Arial, sans-serif;
}

.receta-semana {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ultimas-recetas {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.newsletter {
  background-color: #d0d0d0;
  padding: 20px;
  border-radius: 5px;
}

.p-recetas {
  background-color: rgb(162, 185, 101);
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  width: auto;
  position: relative;
}

/* Estilos CSS MLM*/
