<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amuyén - Carga Productos</title>
    <link rel="stylesheet" href="styles/carga.css">
    <link rel="stylesheet" href="styles/generales.css" />
    <link rel="icon" href="images/icono-pestaña.ico" />
</head>

<body>
    <header class="temp-header">
        <div class="d-header">
            <img class="logo" src="images/SAVE_20220531_084519.jpg" alt="logo" />
        </div>    
        
    </header>
    <div id="app">
        <form @submit.prevent="cargarProducto"   id="formulario" enctype="multipart/form-data">

            <label for="codigo">Código:</label>
            <input type="number" id="codigo" v-model="codigo" required><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" v-model="nombre" required><br>

            <label for="stock">Cantidad:</label>
            <input type="number" id="stock" v-model="stock" required><br>

            <label for="precio">Precio:</label>
            <input type="number" step="0.01" id="precio" v-model="precio" required><br>

            <label for="imagenProd">Imagen del producto:</label>
            <input type="file" @change="seleccionarImagen" id="imagenProd" required>
            <br>
            <button type="submit">Agregar Producto</button>
            <br>
            <a href="administracion.html">Volver</a>
        </form>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/carga.js"></script>

</body>

</html>